XLAYER_RPC_URL=https://rpc.xlayer.tech
XLAYER_TESTNET_RPC_URL=https://testrpc.xlayer.tech/terigon
DEPLOYER_PRIVATE_KEY=
DEPLOYER_ADDRESS=
ETHERSCAN_API_KEY=
USDT_ADDRESS=
UNISWAP_ROUTER=
UNISWAP_POSITION_MANAGER=
